.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 30, 30);
  /* display:grid;
    place-items:center; */
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 60%;
}

.page-image {
  width: 100%;
  height: auto;
  object-fit: cover;

  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);

  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
}

.movie-container {
  width: 50%;
  margin: 2%;

  max-width: 400px;
  max-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-container:hover img {
  opacity: 0.3;
}

.movie-container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
}

.info-container {
  width: 50%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

/* MEDIA QUERY */

@media screen and (max-width: 820px) {
  .film-card {
    /* width: 45%; */
    grid-template-columns: 40% 40%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 415px) {
  .page {
    /* width: 95%; */
    grid-template-columns: 90%;
  }

  .page-container {
    flex-direction: column;
  }
}
